{% extends 'base.html' %}
{% block body %}
<nav>
	<a href="./">Home</a>
	<a class="active" href="./about">About</a>
	<a href="./estimate">Estimate</a>
</nav>

<h2> About Vertical Tank Maintenance</h2>
<hr/>
<p> Mauris a est mauris. Cras ut orci porttitor, dignissim diam sit amet, scelerisque risus. In pulvinar rutrum dolor in 
    sodales. Ut vestibulum fringilla posuere. Donec in placerat tortor, eget imperdiet erat. Mauris lobortis aliquam mauris,
    vitae feugiat ligula. Pellentesque eu convallis neque, quis volutpat purus. Curabitur placerat arcu velit, in ullamcorper
    sapien mattis a. Duis vitae risus et tortor pretium tristique. Cras placerat ipsum quis eros consequat rhoncus. Fusce 
    tempor a nulla elementum eleifend.
	<br/>
	<br/>
	Vivamus maximus pretium est id luctus. Morbi in dignissim neque. Curabitur rhoncus nisl eu tellus ultricies, sed venenatis 
    odio consectetur. Sed tincidunt convallis lobortis. Maecenas id blandit nibh, vitae congue arcu. Curabitur dapibus scelerisque
    purus vel iaculis. Suspendisse dignissim, felis vitae sollicitudin euismod, metus nisl feugiat diam, eget accumsan lectus erat
    at risus. Maecenas lacinia vehicula nisi. Sed at mauris non metus eleifend eleifend in ac metus.
	<br/>
	<br/>
	Morbi ut tellus orci. Fusce scelerisque magna non fermentum luctus. In imperdiet gravida tellus vel posuere. Maecenas gravida 
    justo purus, ac condimentum est tempus quis. Etiam ullamcorper dolor in volutpat congue. Curabitur vulputate, ligula sit amet 
    sollicitudin volutpat, diam nulla facilisis ipsum, eu molestie ligula odio sit amet tellus. Pellentesque sed sapien nisi. Nam 
    eget velit vel ligula interdum gravida. Praesent commodo enim nec massa varius, vel feugiat magna imperdiet. Morbi ultrices elit
    euismod faucibus facilisis.
	<br/>
	<br/>
	Mauris venenatis tellus sed euismod tincidunt. Ut efficitur metus magna. Nulla sollicitudin et leo eget convallis. Cras ac mauris
    risus. Ut pretium eget ante id vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique ligula nec
    massa pulvinar viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse cursus
    interdum arcu, eget convallis libero suscipit eget. Duis malesuada ullamcorper dui, ut auctor nunc posuere fermentum. Donec
    pellentesque velit at odio egestas aliquet. Sed dignissim eros ut elementum pellentesque. Etiam tempor elit nulla, elementum
    condimentum felis vulputate at. Fusce ut accumsan dolor. Maecenas iaculis urna dui, id egestas magna condimentum quis. Nulla 
    facilisi.
	<br/>
	<br/>
    Nunc tempus dolor efficitur velit vulputate bibendum. Donec purus quam, imperdiet et malesuada at, tempus sit amet turpis. Proin eget
    finibus urna, in tristique magna. Duis lacus purus, tempus in lorem sed, sodales auctor sapien. Vivamus eu purus tellus. Sed luctus,
    ligula a convallis maximus, diam ex rhoncus arcu, eget aliquam tortor metus quis leo. Morbi porta facilisis feugiat. Morbi pulvinar a 
    nunc et egestas. Pellentesque sagittis iaculis enim ac ornare. Nam tincidunt lorem at felis finibus, ac tempor lectus tincidunt. 
    Aenean facilisis lorem nec feugiat ultricies. Vivamus risus velit, faucibus a finibus ac, convallis quis dui. Integer ac ipsum nunc.
    Quisque condimentum lobortis nibh a aliquam. Nulla vehicula odio in nunc tempor, id imperdiet erat tempor.
</p>
{% endblock %}
